/homework1/nbproject/private/
/hw1/nbproject/private/

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
/hw2/nbproject/private/
/lab3/nbproject/private/
/hw3/nbproject/private/
/hw4/nbproject/private/
/hw5/nbproject/private/
/mytest/nbproject/private/
/alert_calculator/nbproject/private/